<header>
  <div class="header">
    <h1>Trouvez la mission qui vous correspond</h1>
    <p>
      Découvrez des annonces claires, accessibles et adaptées à vos talents.<br />
      Publiez, éditez ou supprimez vos offres ens toute simplicité.
    </p>
    <button>Découvrez les offres</button>
  </div>
</header>
