<header>
  <div class="header">
    <h1>Trouvez la mission qui vous correspond</h1>
    <p>
      Découvrez des annonces claires, accessibles et adaptées à vos talents.<br />
      Publiez, éditez ou supprimez vos offres ens toute simplicité.
    </p>
    <a href="/allpage">
      <button class="button">Découvrez les offres</button>
    </a>
  </div>
</header>
