<nav>
  <ul class="navbar">
    <div class="left_icon">
      <img id="logo_navbar" src="./../../assets/logo.png" alt="logo" />
      <li>Talenthub</li>
    </div>
    <div class="right_icon">
      <li>Les annonces</li>
      <li>Déposer une annonce</li>
    </div>
  </ul>
</nav>
