<nav>
  <ul class="navbar">
    <div class="left_icon">
      <img id="logo_navbar" src="./../../assets/logo.png" alt="logo" />
      <a href="/" style="text-decoration: none; color: black">
        <li>Talenthub</li>
      </a>
    </div>
    <div class="right_icon">
      <a href="/allpage" style="text-decoration: none; color: black">
        <li>Les annonces</li>
      </a>

      <a href="/add">
        <button class="button_blue">Déposer une annonce</button>
      </a>
    </div>
  </ul>
</nav>
